.password-changing{
    width: 900px;
    position: absolute;
    display: table-row;
    left: 50%;
    top: 40%;
    transform: translate(-15%, -50%);
}
.col-form-label{
    width: 246px;
}
.text-input{
    width: 300px;
}
.text-input{
    width: 246px;
}
.form-notification{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}