.btn-nav{
  margin: 20px;
  text-align: center;
}
.settings{

}
.bi-gear{
  margin: 20px;
  color: black;
}
.logout-link{
  color: black;
}
.settings-tabs{
  margin-top: 10%;
  width: 200px;
}
.notification-table{
  width: 500px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
  &.row-notification{
    width: auto;
  }
}